@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

/* <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> */

:root{
    --main-font: "Poppins";
    --main-font-cn: "Noto Sans SC";
}


.container-fluid {
    width: 100%;
    max-width: 800px;
    padding: 0 30px;
}

.content {
    color: #323131;
    text-align: center;
}

#content-topOverlay {
    height: 200px;
}

.content-inner {
    padding-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------- MODIFICATION TO SOME DEFAULT ELEMENT -------------------------- */


body {
    font-family: var(--main-font);
}

hr {
    width: 90%;
}

h1 {
    font-family: var(--main-font);
    font-weight: 800;
    font-size: 50px;
    margin: 90px 0;
    line-height: normal;
}

p {
    margin: 30px 0;
}

.main_title {
    margin: 30px 0;
}

.header_under {
    height: 80px;
}

#content-inner h1, h2, h3 {
    font-size: 40px;
    padding: 20px;
}

.content-inner-proj {
    display: inline-block;
    margin: 20px 30px;
}

article {
    margin: 80px 0;
    display: block;
    text-align: center;
    font-size: 17px;
}

.footer {
    color: #666;
    font-size: 8px;
    text-align: center;
    padding: 10px;
}


/* ------------------------ TOP BAR ------------------------ */

.header {
    display: flex;
    justify-content:space-between;
    height: 180px;
    align-items:center;
    z-index: 99999;
    position: fixed;
    width: 100%;
    padding: 5px 60px;
    background: #fff;
    transition: background .5s, height .5s;
}

.button-area,
.link-area
{
    display: flex;
    align-items: center;
}


.header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all 0.1s ease;
}

.header a {
    color: #436ea5;
    text-decoration: none;
}

.head_btn {
    text-align: center;
    font-size: 18px;
    padding: 0 30px;
    border-radius: 4px;
    height: 100%;
    color: #3c3c3c;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.head_btn:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.head_btn_smltxt {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: -3px;
}

.head_btn_cntxt {
    font-family: var(--main-font-cn);
    font-weight: 800;
    font-size: 18px;
}

.head_btn_links {
    color: #212121;
    margin-top: 20px;
    height: 50%;
    padding: 5px;
    padding-bottom: 33px;
}

.head_btn_links a {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #212121;
}

.head_btn_links:hover a {
    color: #436ea5;
}

.my_btn {
    font-family: var(--main-font);
    color: #436ea5;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 1px;
    /*background: #d7d7d7;*/
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.1s ease;
}

.my_btn:hover {
    color: #0e2846;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* ----------------------- Section - Design ------------------------- */

.design_profile{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* ----------------------- Section - Project  ------------------------- */

/* Logo Animation */

#img_logo {

}


/* Css Stylesheets for Project Page*/

.thumbnail_proj {
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    border: 5px solid #f2f2f2;
    margin: 10px;
}

.thumbnail_proj:hover {
    transform: scale(1.01);
    filter: brightness(102%);
    box-shadow: 5px 5px 10px #a8a8a8;
    cursor: pointer;
}
.thumbnail_proj:active {
    transform: scale(0.99);
    filter: brightness(99%);
}

.thumbnail_proj_label {
    margin-top: 5px;
    font-size: 13px;
}


/* Animation */


/* Responsive Settings */

@media screen and (max-width: 700px) {
    #content-topOverlay {
        margin: 50px;
    }
    .header {
        padding: 2px 5px 2px 25px;
        align-items: center;
    }
    .head_btn {
        padding: 30px 5px 0 5px;
    }
    .head_btn_cntxt {
        display: none;
    }
    .head_btn_smltxt {
        font-size: 12px;
    }
    .content h1 {
        font-size: 30px;
    }
    #img_logo {
        position: relative;
        width: 350px;
    }
}

@keyframes myframes {
    50% {
        transform: translate(0px, 10px);
    }
}
