
.container-fluid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #323131;
    text-align: center;
    padding: 30px 0;
}

.content-topOverlay {
    padding: 0;
    margin: 0;
    margin: 30px 0;
}

.content-inner {
    padding-top: 40px;
}

/* ------------------------- MODIFICATION TO SOME DEFAULT ELEMENT -------------------------- */

hr {
    width: 90%;
}

h1 {
    font-family: "Pacifico";
    line-height: normal;
}

p {
    margin: 30px 0;
}

.main_title {
    margin: 30px 0;
}

#content-inner h1, h2, h3 {
    font-size: 40px;
    padding: 20px;
}

.content-inner-proj {
    display: inline-block;
    margin: 20px 30px;
}

article {
    font-family: "Source Sans Pro";
    max-width: 500px;
    padding: 0 20px;
    display: block;
    text-align: center;
    margin: 30px auto;
    font-size: 17px;
    
}

.footer {
    color: #666;
    font-size: 8px;
    text-align: center;
    padding: 10px;
}


/* ------------------------ TOP BAR ------------------------ */

.header {
    z-index: 99999;
    position: fixed;
    font-family: "Fjalla One";
    width: 100%;
    height: 80px;
    background: rgba(247, 247, 247, 0.95);
    padding: 5px 40px;
    border-bottom: 1px solid #dddddd;
}

.header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all 0.1s ease;
}

.header a {
    color: #436ea5;
    text-decoration: none;
}

.head_btn {
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 13px 17px 8px 17px;
    border-radius: 4px;
    height: 100%;
    color: #212121;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.head_btn:hover {
    background-color: #436ea5;
    color: white;
    cursor: pointer;
}

.head_btn:active {
    background-color: #395d8d;
    transform: scale(0.98, 0.98)
}

.head_btn_smltxt {
    padding: 0;
    font-family: "Roboto";
    font-size: 13px;
}

.head_btn_cntxt {
    font-weight: bold;
    font-size: 16px;
}

.head_btn_links {
    float: right;
    color: #212121;
    margin-top: 20px;
    height: 50%;
    padding: 5px;
    padding-bottom: 33px;
}

.head_btn_links a {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #212121;
}

.head_btn_links:hover a {
    color: #436ea5;
}

.my_btn {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #436ea5;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 1px;
    /*background: #d7d7d7;*/
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.1s ease;
}

.my_btn:hover {
    color: #0e2846;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* ----------------------- Section - Design ------------------------- */

.design_profile{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* ----------------------- Section - Project  ------------------------- */

/* Logo Animation */

#img_logo {
    animation: myframes 2s ease-in-out 0s infinite;
    ;
}


/* Css Stylesheets for Project Page*/

.thumbnail_proj {
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    border: 5px solid #f2f2f2;
    margin: 10px;
}

.thumbnail_proj:hover {
    transform: scale(1.01);
    filter: brightness(102%);
    box-shadow: 5px 5px 10px #a8a8a8;
    cursor: pointer;
}
.thumbnail_proj:active {
    transform: scale(0.99);
    filter: brightness(99%);
}

.thumbnail_proj_label {
    margin-top: 5px;
    font-size: 13px;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}


/* Animation */


/* Responsive Settings */

@media screen and (max-width: 700px) {
    .content-topOverlay {
        margin: 15px 0;
    }
    .header {
        padding: 2px 5px 2px 25px;
        align-items: center;
    }
    .head_btn {
        padding: 30px 5px 0 5px;
    }
    .head_btn_cntxt {
        display: none;
    }
    .head_btn_smltxt {
        font-size: 12px;
    }
    .content h1 {
        font-size: 30px;
    }
    #img_logo {
        position: relative;
        width: 350px;
    }
}

@keyframes myframes {
    50% {
        transform: translate(0px, 10px);
    }
}


/* Font */
.font_cn {
    font-family: "Noto Sans SC";
}