/*
* File Name:    styleSheets.css
* Author:       Boya Chen
* Created Date: Apr 2017
* Description:  CSS setting for 
*/

@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

:root{
    --main-font: "Poppins";
    --main-font-cn: "Noto Sans SC";
    --smooth-shadow: 5px 5px 30px #a8a8a8;
}


body {
    font-family: var(--main-font);
}

#popupSent {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    width: 200px;
}
.wikiEmbed {
    display: none;
    /*width: 0;*/
    /*height: 0;*/
    overflow: hidden;
    margin: 25px;
    box-shadow: 0 0 7px #aaaaaa;
}
.wikibtn {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    font-size: small;
    color: #215482;
    transition: all 0.1s linear;
}
.wikibtn:hover {
    background: #f2f2f2;
    cursor: pointer;
}
.wikibtn:active {
    background: #d4d4d4;
    transform: scale(0.99);
}

.mapboxgl-popup {
    font-family: var(--main-font);
    z-index: 300px;
}
.mapboxgl-popup-content {
    min-width: 300px;
    font-size: 13px;
    text-align: center;
    color: black;
}
.mapboxgl-popup-content h3{
}


.button-zone {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-zone .button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 999;

    transition: all 0.2s ease;
}

.button-zone .button:hover {
    color: rgba(255, 255, 255, 1);
    background: #333;
    cursor: pointer;
}

#info {
    transition: all 0.5s ease;
    position: absolute;
    left: 10px;
    top: 10px;
    padding-left: 15px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    text-align: left;
    color: #262626;
}
#info:hover {
    cursor: pointer;
    color: #2f79b9;
    background: rgba(0,0,0,0);
}


.legend {
    background-color: #fff;
    /*opacity: 0.8;*/
    transition: opacity 0.1s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 14px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
    font-size: 11px;
}
.legend h4 {
    font-size: 20px;
    font-weight: 900;
}
.legend div {
    margin-bottom: 3px;
}
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}


#helpPanel {
    overflow-y: scroll;
    display: none;
    text-align: center;
    width: 350px;
    height: 450px;
    z-index: 999;
    border-radius: 5px;
    border: solid 10px #ffffff;
    background: #ffffff;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 54px;
}
#instruction_content{
    font-size: 13px;
    padding: 0 20px;
    text-align: justify;
}
#searchBar{
    position: absolute;
    z-index: 9999;
    top: -50px;
    right: 200px;
    width: 350px;
    height: 20px;
}
.input-group button{

}