.container-fluid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h1{
    font-family: "Lobster"
}

.content {
    /*max-width: 800px;*/
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #323131;
    text-align: center;
    padding: 30px 0;
}

.content-topOverlay {
    padding: 0;
    margin: 0;
    margin: 30px 0;
}

.content-inner {
    padding-top: 40px;
}

.header {
    z-index: 99999;
    position: fixed;
    font-family: "Fjalla One";
    width: 100%;
    height: 80px;
    background: rgba(247, 247, 247, 0.95);
    padding: 5px 40px;
    border-bottom: 1px solid #dddddd;
}

.header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all 0.1s ease;
}

.header a {
    color: #436ea5;
    text-decoration: none;
}

.head_btn {
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 13px 17px 8px 17px;
    border-radius: 3px;
    height: 100%;
    color: #212121;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.head_btn:hover {
    background-color: #436ea5;
    color: white;
    cursor: pointer;
}
.head_btn:active {
    background-color: #395d8d;
}

.head_btn_links {
    float: right;
    color: #212121;
    margin-top: 20px;
    height: 50%;
    padding: 5px;
    padding-bottom: 33px;
}
.head_btn_links a{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: #212121;
}
.head_btn_links:hover a{
    color: #436ea5;
}

.my_btn {
    font-family: "Fjalla One", Helvetica, Arial, sans-serif;
    color: #436ea5;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 1px;
    /*background: #d7d7d7;*/
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.1s ease;
}

.my_btn:hover {
    cursor: pointer;
    background: #f4f4f4;
}


/* Logo Animation */

#img_logo {
    animation: myframes 2s ease-in-out 0s infinite;
    ;
}


/* Css Stylesheets for Project Page*/

.thumbnail_proj {
    box-shadow: 0 0 1px #404040;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin: 10px;
}

.thumbnail_proj:hover {
    transform: scale(1.04);
    filter: brightness(105%);
    box-shadow: 0 5px 20px #636363;
    cursor: pointer;
}

.thumbnail_proj_label {
    margin-top: 5px;
    font-size: 12px;
    font-family: "Fjalla One", Helvetica, Arial, sans-serif;
}


/* Animation */

@media screen and (max-width: 700px) {
    .content-topOverlay {
        margin: 15px 0;
    }
    .header{
        padding: 2px 5px;
        align-items: center;
    }
    .content h1 {
        font-size: 30px;
    }
    #img_logo {
        position: relative;
        width: 100%;
    }
}

@keyframes myframes {
    50% {
        transform: translate(0px, 10px);
    }
}
