.map-popup {
    width: 200px;
    padding: 10px;
}

.upperSpace {
    display: block;
}

.mag-part {
    float: left;
    width: 50%;
}

.bigFont {
    margin-top: 20px;
    font-size: 60px;
}

.largeFont{
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.midFont {
    /*    margin-top: 22px;*/
    font-size: 13px;
}

.date-part {
    float: right;
    width: 50%;
}

.subTitle {
    font-weight: bold;
    font-size: 13px;
}

.location-part {
    margin-top: 100px;
    text-align: left;
    display: block;
}
.footerStatus {
    font-size: 12px;
    position: absolute;
    z-index: 999;
    padding: 20px;
    bottom: 20px;
    right: 20px;
    background: rgba(212, 212, 212, 0.9);
    font-family: "roboto";
    border-radius: 5px;
}
.dateDisplay{
    font-size: 50px;
    position: absolute;
    z-index: 999;
    padding: 20px;
    top: 50px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    font-family: "roboto";
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.footerStatus h1{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
#dateInput{
    background: none;
    border: none;
    font-size: 30px;
    width: 80px;
}
